<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
<div class="top-bar"></div>
  <header>
    <h1>{{ site.title }}</h1>
    <p>Software & DevOps Engineer | Veteran | AWS Certified</p>
    <nav>
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/about' | relative_url }}">About Me</a></li>
        <li><a href="https://github.com/zplato">GitHub</a></li>
        <li><a href="https://linkedin.com/in/zacharyplato">LinkedIn</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
  </footer>
</body>
</html>